{% extends 'top_navbar_layout.html.twig' %}

{% block h1_content %}
    {{ 'app.dashboard.h1'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 pb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title text-bold">
                        <i class="far fa-lightbulb mr-2"></i>
                        {{ 'app.dashboard.my_projects.title'|trans }}
                    </h5>
                </div>
                <div class="card-body">

                    <div class="row text-center py-3">
                        <div class="col-6 px-5 border-right d-flex align-items-center flex-column">
                            <input type="text" value="{{ projects|length }}"
                                   data-min="0"
                                   data-max="{{ projects|length }}"
                                   data-width="120"
                                   data-height="120"
                                   data-readonly="true"
                                   data-angleOffset="-125"
                                   data-angleArc="250"
                                   class="knob-render-primary"
                            >
                            {#
                            <div class="circle-badge border-primary text-dark mb-1">
                                <span>{{ projects|length }}</span>
                            </div>
                            #}
                            <h6 class="text-muted">
                                {{ 'app.dashboard.projects_dropped'|transchoice(projects|length) }}
                            </h6>
                        </div>
                        <div class="col-6 px-5 mt-2">
                            <div class="form-group">
                                <a href="{{ path('app.call_of_project.all') }}" class="btn btn-primary">{{ 'app.dashboard.drop_new_project'|trans }}</a>
                            </div>
                        </div>
                    </div>
                    {#
                    <p style="text-decoration: underline">{{ 'app.dashboard.last_dropped_projects'|transchoice(projects|length) }}</p>
                    #}
                    <div class="table-responsive mt-2">
                        <table class="table m-0 table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'app.project.property.name.label'|trans }}</th>
                                <th class="text-center">{{ 'app.project.property.status.label'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app.project.show', { 'id' : project.id}) }}">
                                            {{ project.name }}
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        {{ include('project/_status_badge.html.twig', { 'project' : project}) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <a href="{{ path('app.project.index') }}" class="text-primary float-right">{{ 'app.dashboard.list_all_projects'|trans }}</a>
                </div>
                <!-- /.card-footer -->
            </div>
        </div>
        {% if call_of_projects|length > 0 or
              is_granted(constant('App\\Security\\UserVoter::ADMIN_ONE_ORGANIZING_CENTER_AT_LEAST'), app.user)
        %}
            <div class="col-md-6 pb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title text-bold">
                        <i class="fas fa-cube mr-2"></i>
                        {{ 'app.dashboard.my_calls_of_project.title'|trans }}
                    </h5>
                </div>
                <div class="card-body">

                    <div class="row text-center py-3">
                        {% set call_of_project_nmb_class = is_granted(constant(
                            'App\\Security\\UserVoter::ADMIN_ONE_ORGANIZING_CENTER_AT_LEAST'), app.user
                            ) ? 'col-6 border-right' : 'col-12' %}
                        <div class="{{ call_of_project_nmb_class }} px-5 d-flex align-items-center flex-column">
                            <input type="text" value="{{ call_of_projects|length }}"
                                   data-min="0"
                                   data-max="{{ call_of_projects|length }}"
                                   data-width="120"
                                   data-height="120"
                                   data-readonly="true"
                                   data-angleOffset="-125"
                                   data-angleArc="250"
                                   class="knob-render-primary"
                            >
                            <h6 class="text-muted">
                                {{ 'app.dashboard.call_of_projects_dropped'|transchoice(call_of_projects|length) }}
                            </h6>
                        </div>

                        {% if is_granted(constant(
                            'App\\Security\\UserVoter::ADMIN_ONE_ORGANIZING_CENTER_AT_LEAST'), app.user
                            )
                        %}
                            <div class="col-6 px-5 mt-2">
                                <div class="form-group">
                                    <a href="{{ path('app.call_of_project.new') }}" class="btn btn-primary">{{ 'app.dashboard.create_new_call_of_projects'|trans }}</a>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                    <div class="table-responsive mt-2">
                        <table class="table m-0 table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'app.call_of_project.property.name.label'|trans }}</th>
                                <th class="text-center">{{ 'app.call_of_project.property.status.label'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for call_of_project in call_of_projects %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app.call_of_project.informations', {'id' : call_of_project.id}) }}">
                                            {{ call_of_project.name }}
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        {{ include('call_of_project/_status_badge.html.twig', { 'call_of_project' : call_of_project}) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <a href="{{ path('app.call_of_project.index') }}" class="text-primary float-right">{{ 'app.dashboard.list_all_call_of_projects'|trans }}</a>
                </div>
                <!-- /.card-footer -->
            </div>
        </div>
        {% endif %}
        {% if app.user.reports|length > 0 %}
            <div class="col-md-6 pb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="card-title text-bold">
                            <i class="fas fa-scroll mr-2"></i>
                            {{ 'app.dashboard.my_reports.title'|trans }}
                        </h5>
                    </div>
                    <div class="card-body">

                        <div class="row text-center py-3">
                            <div class="col-6 border-right px-5 d-flex align-items-center flex-column">
                                {% set reportsComplete = app.user.reports|filter(report => report.status != constant('App\\Entity\\Report::STATUS_TO_COMPLETE') ) %}
                                {% set reportsToComplete = app.user.reports|filter(report => report.status == constant('App\\Entity\\Report::STATUS_TO_COMPLETE') ) %}
                                <input type="text" value="{{ reportsComplete|length }}"
                                       data-min="0"
                                       data-max="{{ reportsComplete|length }}"
                                       data-width="120"
                                       data-height="120"
                                       data-readonly="true"
                                       data-angleOffset="-125"
                                       data-angleArc="250"
                                       class="knob-render-primary"
                                >
                                <h6 class="text-muted">
                                    {{ 'app.dashboard.reports_complete'|transchoice(reportsComplete|length) }}
                                </h6>
                            </div>
                            <div class="col-6 px-5 mt-2">
                                <input type="text" value="{{ reportsToComplete|length }}"
                                       data-min="0"
                                       data-max="{{ reportsToComplete|length }}"
                                       data-width="120"
                                       data-height="120"
                                       data-readonly="true"
                                       data-angleOffset="-125"
                                       data-angleArc="250"
                                       class="knob-render-warning"
                                >
                                <h6 class="text-muted">
                                    {{ 'app.dashboard.reports_to_complete'|transchoice(reportsToComplete|length) }}
                                </h6>
                            </div>
                        </div>
                        <div class="table-responsive mt-2">
                            <table class="table m-0 table-hover">
                                <thead>
                                <tr>
                                    <th>{{ 'app.report.property.project_name.label'|trans }}</th>
                                    <th class="text-center">{{ 'app.report.property.status.label'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for report in app.user.reports %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('app.report.show', {'id' : report.id}) }}">
                                                {{ report.project.name }}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            {{ include('report/_status_badge.html.twig', { 'report' : report}) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a href="{{ path('app.call_of_project.index') }}" class="text-primary float-right">{{ 'app.dashboard.list_all_call_of_projects'|trans }}</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}