{% extends 'layout.html.twig' %}

{% set h1 = 'app.dashboard.h1'|trans %}
{% block title %}
    {{ h1 }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="min-height: 523px">
                    <h3>{{ 'app.dashboard.my_projects.title'|trans }}</h3>
                    <div class="text-center">
                        <p>
                            {{ 'app.dashboard.project_dropped'|trans }}
                            <span class="text-primary text-bold" style="font-size: 25px">{{ projects|length }}</span>
                            {{ 'app.dashboard.project'|transchoice(projects|length) }}
                        </p>
                        <div class="form-group">
                            <button class="btn btn-primary">{{ 'app.dashboard.drop_new_project'|trans }}</button>
                        </div>
                    </div>
                    <p style="text-decoration: underline">{{ 'app.dashboard.last_dropped_projects'|transchoice(projects|length) }}</p>
                    <div class="table-responsive">
                        <table class="table m-0 table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'app.project.property.name.label'|trans }}</th>
                                    <th>{{ 'app.project.property.status.label'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            <a href="#">
                                                {{ project.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ include('project/_status_badge.html.twig', { 'project' : project}) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <a href="#" class="text-primary float-right">{{ 'app.dashboard.list_all_projects'|trans }}</a>
                </div>
                <!-- /.card-footer -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="min-height: 523px">
                    <h3>{{ 'app.dashboard.my_calls_of_project.title'|trans }}</h3>
                    <div class="text-center">
                        <p>
                            <span style="font-size: 25px; visibility: hidden">...</span>
                        </p>
                        <div class="form-group">
                            <a href="{{ path('app.call_of_project.new') }}" class="btn btn-primary">{{ 'app.dashboard.create_new_call_of_projects'|trans }}</a>
                        </div>
                    </div>
                    <p style="text-decoration: underline">{{ 'app.dashboard.last_dropped_call_of_project'|transchoice(call_of_projects|length) }}</p>
                    <div class="table-responsive">
                        <table class="table m-0 table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'app.call_of_project.property.name.label'|trans }}</th>
                                <th>{{ 'app.call_of_project.property.status.label'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for call_of_project in call_of_projects %}
                                    <tr>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            <a href="{{ path('app.call_of_project.projects', {'id' : call_of_project.id}) }}">
                                                {{ call_of_project.name }}
                                            </a>
                                        </td>
                                        <td>
                                        <td>
                                            {{ include('call_of_project/_status_badge.html.twig', { 'call_of_project' : call_of_project}) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <a href="{{ path('app.call_of_project.new') }}" class="text-primary float-right">{{ 'app.dashboard.list_all_call_of_projects'|trans }}</a>
                </div>
                <!-- /.card-footer -->
            </div>
        </div>
    </div>
{% endblock %}