{% extends 'top_navbar_layout.html.twig' %}

{% block h1_content %}
    {{ 'app.dashboard.h1'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="min-height: 538px">
                        <h3 class="border-bottom pb-1">{{ 'app.dashboard.my_projects.title'|trans }}</h3>
                        <div class="row text-center py-3">
                            <div class="col-6 px-5 border-right">
                                <p class="text-primary text-bold mb-1" style="font-size: 25px">{{ projects|length }}</p>
                                <p>
                                    {{ 'app.dashboard.projects_dropped'|transchoice(projects|length) }}
                                </p>
                            </div>
                            <div class="col-6 px-5 mt-2">
                                <div class="form-group">
                                    <a href="{{ path('app.call_of_project.all') }}" class="btn btn-primary">{{ 'app.dashboard.drop_new_project'|trans }}</a>
                                </div>
                            </div>
                        </div>
                        {#
                        <p style="text-decoration: underline">{{ 'app.dashboard.last_dropped_projects'|transchoice(projects|length) }}</p>
                        #}
                        <div class="table-responsive mt-2">
                            <table class="table m-0 table-hover">
                                <thead>
                                <tr>
                                    <th>{{ 'app.project.property.name.label'|trans }}</th>
                                    <th>{{ 'app.project.property.status.label'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('app.project.show', { 'id' : project.id}) }}">
                                                {{ project.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ include('project/_status_badge.html.twig', { 'project' : project}) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a href="{{ path('app.project.index') }}" class="text-primary float-right">{{ 'app.dashboard.list_all_projects'|trans }}</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="min-height: 538px">
                        <h3 class="border-bottom pb-1">{{ 'app.dashboard.my_calls_of_project.title'|trans }}</h3>
                        <div class="row text-center py-3">
                            <div class="col-6 px-5 border-right">
                                <p class="text-primary text-bold mb-1" style="font-size: 25px">{{ call_of_projects|length }}</p>
                                <p>
                                    {{ 'app.dashboard.call_of_projects_dropped'|transchoice(call_of_projects|length) }}
                                </p>
                            </div>
                            <div class="col-6 px-5 mt-2">
                                <div class="form-group">
                                    <a href="{{ path('app.call_of_project.new') }}" class="btn btn-primary">{{ 'app.dashboard.create_new_call_of_projects'|trans }}</a>
                                </div>
                            </div>
                        </div>
                        {#
                        <p style="text-decoration: underline">{{ 'app.dashboard.last_dropped_call_of_project'|transchoice(call_of_projects|length) }}</p>
                        #}
                        <div class="table-responsive mt-2">
                            <table class="table m-0 table-hover">
                                <thead>
                                <tr>
                                    <th>{{ 'app.call_of_project.property.name.label'|trans }}</th>
                                    <th>{{ 'app.call_of_project.property.status.label'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for call_of_project in call_of_projects %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('app.call_of_project.projects', {'id' : call_of_project.id}) }}">
                                                {{ call_of_project.name }}
                                            </a>
                                        </td>
                                        <td>
                                        <td>
                                            {{ include('call_of_project/_status_badge.html.twig', { 'call_of_project' : call_of_project}) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a href="{{ path('app.call_of_project.index') }}" class="text-primary float-right">{{ 'app.dashboard.list_all_call_of_projects'|trans }}</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
        </div>
{% endblock %}