{% set project = form.vars.data %}
{% set isTemplate = project.callOfProject.ProjectFormLayout.isTemplate %}
{% set form_attr = isTemplate ? {'onSubmit': 'return false;'} : {} %}

{{ form_start(form, {'attr' : form_attr}) }}

    {{ form_row(form.name) }}
    {% for project_form_widget in projectFormWidgets %}
        <div class="form-group">
            {{ include('partial/widget/_render_widget.html.twig') }}
        </div>
    {% endfor %}


    {% if not isTemplate %}
        <button type="submit" class="btn btn-primary">
            {{ 'app.action.save'|trans }}
        </button>
    {% endif %}

    {% if project.id != null %}

        {% set path = path('app.project.show', {'id': project.id, 'context': app.request.get('context')}) %}
        <a href="{{ path }}" class="btn btn-link">
            {{ 'app.action.canceled'|trans }}
        </a>
    {% endif %}
{{ form_end(form) }}
