{% if not showOnlyActive %}
    {{ form_start(form) }}
    <div class="tab-content" id="widgetConfigurationContent">
        <div class="tab-pane fade show active" id="able-widget" role="tabpanel" aria-labelledby="able-widget-tab">
            <div class="clearfix mb-3">
                <button
                        class="btn btn-sm btn-success rounded-circle mr-2 float-right"
                        data-toggle="modal"
                        data-target="#import-widget-modal"
                        type="button"
                        data-url="{{ path('app.project_form_layout.import_widget', {'id' : form.vars.data.callOfProject.projectFormLayout.id }) }}"
                        title="{{ 'app.action.import_widget'|trans }}"
                >
                    <i class="fas fa-file-import"></i>
                </button>
                <a
                        class="{{ app.request.get('_route') == 'app.call_of_project.form_preview' ? 'active' }}
                        btn btn-sm btn-success rounded-circle mr-1 float-right"
                        href="{{ path('app.call_of_project.form_preview', {'id' : form.vars.data.callOfProject.id }) }}"
                        title="{{ 'app.sidebar.item.admin.form_preview'|trans }}">
                    <i class="fas fa-eye "></i>
                </a>
            </div>
            {{ _self.showOnlyActive(form, projectFormWidgets) }}
        </div>
        <div class="tab-pane fade" id="disable-widget" role="tabpanel" aria-labelledby="disable-widget-tab">
            {% set trash = projectFormWidgets|filter(projectFormWidget => projectFormWidget.isActive == false) %}
            {% if  trash|length > 0 %}-
                <div class="row">
                    {% for project_form_widget in trash %}
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body disabled">
                                    <div class="row">
                                        <div class="col-11 d-flex flex-column justify-content-center disabled">
                                            {{ include('partial/widget/_render_widget.html.twig', { options : {'attr' : {'disabled' : true }}} ) }}
                                        </div>
                                        <div class="col-1 d-flex flex-column justify-content-center align-items-end">
                                            <div class="project-form-widget-delete">

                                                {# this is to prevent weird behavior due to html form nested #}
                                                {% if loop.first %}
                                                    <form action=""></form>
                                                {% endif %}

                                                {{ include('widget/_trash_toggle_form.html.twig', {'widget' : project_form_widget}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info">
                    {{ 'app.common.trash.no_element'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}
{% else %}
    {{ form_start(form) }}
    {{ _self.showOnlyActive(form, projectFormWidgets) }}
    {{ form_end(form) }}
{% endif %}

{% macro showOnlyActive(form, projectFormWidgets) %}

    <div class="card" id="card_title_project">
        <div class="card-body">
            <div class="row">
                <div class="col-11">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-1 d-flex flex-column justify-content-center align-items-end">
                    <button type="button" class="btn btn-sm btn-primary my-1 rounded-circle"
                            id="button_edit_title"
                            data-toggle="modal"
                            data-target="#edit_title_form_modal"
                            data-url="{{ path('app.widget.edit_title', {
                                id : form.vars.data.callOfProject.projectFormLayout.id
                            }) }}"
                            title="{{ 'app.action.edit'|trans }}"
                    >
                        <i class="fa fa-edit"
                        ></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="active-widget-container" class="row sortable">
        {% for project_form_widget in projectFormWidgets|filter(projectFormWidget => projectFormWidget.isActive == true) %}
            {{ include('partial/widget/_project_form_widget_card_edition.html.twig') }}
        {% endfor %}
    </div>
{% endmacro %}
