{{ form_start(form) }}
    {{ form_row(form.name) }}
    {% for project_form_widget in projectFormWidgets %}
        <div class="form-group">
            {{ include('partial/widget/_render_widget.html.twig') }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">
        {{ 'app.action.save'|trans }}
    </button>
{{ form_end(form) }}
