{{ form_start(form) }}
    {{ form_row(form.name) }}
    {% for project_form_widget in projectFormWidgets %}
        <div class="form-group">
            {{ include('partial/widget/_render_widget.html.twig') }}
        </div>
    {% endfor %}

<button type="submit" class="btn btn-primary">
    {{ 'app.action.save'|trans }}
</button>


{% set path = path('app.project.show', {'id': form.vars.data.id}) %}
{% if app.request.get('context') is defined %}
    {% set path = path('app.project.show', {'id': form.vars.data.id, 'context': 'call_of_project'}) %}
{% endif %}
<a href="{{ path }}" class="btn btn-link">
    {{ 'app.action.canceled'|trans }}
</a>
{{ form_end(form) }}
