{% block date_time_picker_widget %}
    <div class="input-group date dateimepicker-container" id="datetimepicker-{{ form.vars.id }}" data-target-input="nearest">
        {{ form_widget(form, { 'attr' : {'data-target' : '#datetimepicker-' ~ form.vars.id }}) }}
        <div class="input-group-append" data-target="#datetimepicker-{{ form.vars.id }}" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
{% endblock %}

{% block app_widget_validation_widget %}
    {% for child in form.children %}
        <div>
            <span
                    data-toggle="collapse"
                    href="#collapse-{{ child.active.vars.id }}"
                    role="button"
                    aria-expanded="{{ child.active.vars.checked ? 'true' : 'false' }}"
                    aria-controls="collapseExample"
            >
                <input type="checkbox" id="{{ child.active.vars.id }}" name="{{ child.active.vars.full_name }}" {{ child.active.vars.checked ? 'checked="checked"' }}>
                {% do child.active.setRendered(true) %}
                <label for="{{ child.active.vars.id }}">
                    {% set active_field_label = child.vars.label ?? child.vars.name %}
                    {{ active_field_label|trans }}
                </label>
            </span>
        </div>
        {% set parameters = child.children|filter((child, key) => key != 'active') %}
            {% if parameters|length > 0 %}
                <div class="collapse {{ child.active.vars.checked ? 'show' }}" id="collapse-{{ child.active.vars.id }}">
                    <div class="card card-body">
                        {% for field in parameters %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
    {% endfor %}
{% endblock %}

{% block range_widget %}
    <fieldset>
        {% set type = type|default('range') %}
        {% set attr = attr|merge({'onInput' : 'output_' ~ id~ '.value=parseInt(' ~ id ~ '.value)'}) %}
        {{- block('form_widget_simple') -}}
        {% if value %}
            {% set value = value %}
        {% else %}
            {% set value = attr.max is defined and attr.min is defined ? (attr.max - attr.min) / 2 : '--' %}
        {% endif %}
        <output id="{{ 'output_' ~ id }}">{{ value }}</output>
    </fieldset>
{% endblock %}

{% block delete_file_checkbox_widget %}
    <div class="form-check p-0">
        {% if form.vars.client_original_name is defined %}
            <div><span class="text-bold">{{ 'app.file.current_file'|trans }}:</span> {{ form.vars.client_original_name }}</div>
        {% endif %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}" class="form-check-label">
            {{ label|trans }}
        </label>
    </div>
{% endblock %}

{% block batch_action_widget %}
    <button type="button" class="btn btn-primary dropdown-toggle main-button disabled" data-toggle="dropdown">
        {{ 'app.batch_action.button.label'|trans }}
    </button>
    <div class="dropdown-menu">
        {% for batch_action in form.vars.batch_actions %}
            {{ form_widget(form[batch_action.name]) }}
        {% endfor %}
        {% if form.vars.batch_actions is empty %}
            <div class="dropdown-item">{{ 'app.batch_action.no_action'|trans }}</div>
        {% endif %}
    </div>
    {{ form_widget(form.entities) }}
{% endblock %}