<div class="modal fade validation-form-modal" id="validation-project-form-modal-{{ form.action.vars.data }}" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">{{ title }}</h4>
                {{ form_start(form) }}
                {{ form_widget(form.automaticSending) }}
                <div class="mail-template-container">
                    {% if form.mailTemplate is defined %}
                        {% set value =
                            form.action.vars.data == constant('App\\Entity\\Project::STATUS_VALIDATED')
                            ?  validationMailTemplateBody
                            :  refusalMailTemplateBody
                        %}
                        {{ form_widget(form.mailTemplate, {'value' : value}) }}
                    {% endif %}
                </div>
                <button class="btn btn-primary submit-button">{{ 'app.action.save'|trans }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'app.modal.widget_form.action.close'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
