{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="card m-auto" style="max-width: 500px;">
        <div class="card-body">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        {{ 'app.login.form.connected_as'|trans }} {{ app.user.username }}, <a href="{{ path('app.logout') }}">{{ 'app.login.form.logout'|trans }}</a>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="inputUsername">{% trans %}app.login.form.username.label{% endtrans %}</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">{% trans %}app.login.form.password.label{% endtrans %}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <div class="form-group">
                    <button class="btn btn-lg btn-primary" type="submit">
                        {% trans %}app.login.form.button.submit{% endtrans %}
                    </button>
                </div>
                {# todo: get dynamic providerKey (here "main" in "_security.main.target_path" is hard coded) #}
                <a href="{{ path('app.shibboleth_login', {'_target_path' : app.request.session.get('_security.main.target_path')}) }}" class="btn btn-block btn-success">
                    {{ 'app.authentication.shibboleth.button_label'|trans }}
                </a>
            </form>
        </div>
    </div>
{% endblock %}
