{% extends 'partial/widget/form_widget/_base_form.html.twig' %}

{% block general %}

    {{ parent() }}

    {{ form_row(form.dictionary) }}

    {% macro displayOptions(choiceForm) %}
        <li class="item-collection">
            <div class="row mb-2">
                <div class="col-md-10 d-flex flex-column justify-content-end">
                    {{ form_widget(choiceForm) }}
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button class="btn btn-danger btn-block remove-collection-widget mb-0"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </li>
    {% endmacro %}


    <div class="options-container">
        {{ form_row(form.file) }}

        {{ form_label(form.choices) }}
        <div class="alert alert-info no-item" {{ form.choices|length > 0 ? 'style="display:none;"' }}>Aucune options n'a été ajoutée</div>

        <ul id="choice-fields-list" class="list-unstyled collection-wrapper"
            data-prototype="{{ _self.displayOptions(form.choices.vars.prototype)|e('html_attr') }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.choices|length }}">
            {% for choiceForm in form.choices %}
                <li>
                    {{ _self.displayOptions(choiceForm) }}
                </li>
            {% endfor %}
        </ul>

        {# prevents weird label from showing up in new #}
        {{ form_widget(form.choices) }}

        <div class="row">
            <div class="col-12">
                <div class="form-group">

                    <button type="button"
                            class="add-another-collection-widget btn btn-primary btn-block mr-0"
                            data-list-selector="#choice-fields-list"
                    >
                        Ajouter une option
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block advanced %}
    {{ parent() }}
{% endblock %}
