{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <button class="btn btn-primary">
        {{ button_label|default('app.action.save'|trans) }}
    </button>
    <a href="{{ path('app.homepage') }}" class="btn btn-secondary text-white">
        {{ 'app.action.canceled'|trans }}
    </a>
{{ form_end(form) }}
