{% extends 'top_navbar_layout.html.twig' %}

{% block title %}
    {{ 'app.call_of_project.all.h1'|trans }}
{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ 'app.call_of_project.all.h1'|trans }}</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="mb-4">{{ 'app.call_of_project.all.select_opened_cap'|trans }}</h4>
            <div class="table-responsive">
                <table
                        class="table m-0 table-striped dataTable"
                        data-translation-url="{{ asset('/build/dataTable.' ~ app.request.locale ~ '.json') }}"
                >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'app.call_of_project.property.name.label'|trans }}</th>
                        <th>{{ 'app.call_of_project.property.status.label'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for call_of_project in call_of_projects|filter(cap => cap.status == constant('App\\Entity\\CallOfProject::STATUS_OPENED')) %}
                        <tr>
                            <td>
                                {{ loop.index }}
                            </td>
                            <td>
                                <a href="{{ path('app.call_of_project.add_project', {'id' : call_of_project.id}) }}">
                                    {{ call_of_project.name }}
                                </a>
                            </td>
                            <td>
                                {{ include('call_of_project/_status_badge.html.twig', { 'call_of_project' : call_of_project}) }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for call_of_project in call_of_projects|filter(cap => cap.status == constant('App\\Entity\\CallOfProject::STATUS_CLOSED')) %}
                        <tr class="disabled">
                            <td>
                                {{ loop.index }}
                            </td>
                            <td>
                                {{ call_of_project.name }}
                            </td>
                            <td>
                                {{ include('call_of_project/_status_badge.html.twig', { 'call_of_project' : call_of_project}) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

