{% extends 'top_navbar_layout.html.twig' %}

{% block title %}
    {{ 'app.call_of_project.all.h1'|trans }}
{% endblock %}

{% block h1_content %}
    {{ 'app.call_of_project.all.h1'|trans }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="callout callout-info">
                <h6 class="text-bold">{{ 'app.call_of_project.all.select_opened_cap'|trans }}</h6>
            </div>
            <div class="table-responsive">
                <table
                        class="table m-0 table-hover dataTable"
                        data-translation-url="{{ asset('/build/dataTable.' ~ app.request.locale ~ '.json') }}"
                >
                    <thead>
                    <tr>
                        <th>{{ 'app.call_of_project.property.name.label'|trans }}</th>
                        <th>{{ 'app.call_of_project.dates'|trans }}</th>
                        <th class="text-right">{{ 'app.call_of_project.property.status.label'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for call_of_project in call_of_projects|filter(cap => is_granted(constant('App\\Security\\CallOfProjectVoter::OPEN'), cap)) %}
                        <tr>
                            <td>
                                <a href="{{ path('app.call_of_project.add_project', {'id' : call_of_project.id}) }}">
                                    {{ call_of_project.name }}
                                </a>
                            </td>
                            <td class="d-flex flex-column">
                                <span>
                                    <i class="fas fa-hourglass-start text-dark"></i>
                                    {{ call_of_project.startDate|date('d-m-Y à h:i') }}
                                </span>
                                <span>
                                    <i class="fas fa-hourglass-end text-dark"></i>
                                    {{ call_of_project.endDate|date('d-m-Y à h:i') }}
                                </span>
                            </td>
                            <td class="text-center">
                                {{ include('call_of_project/_status_badge.html.twig', { 'call_of_project' : call_of_project}) }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for call_of_project in call_of_projects|filter(cap => cap.status == constant('App\\Entity\\CallOfProject::STATUS_CLOSED')) %}
                        <tr class="disabled">
                            <td>
                                {{ call_of_project.name }}
                            </td>
                            <td class="d-flex flex-column">
                                <span>
                                    <i class="fas fa-hourglass-start text-dark"></i>
                                    {{ call_of_project.startDate|date('d-m-Y à h:i') }}
                                </span>
                                <span>
                                    <i class="fas fa-hourglass-end text-dark"></i>
                                    {{ call_of_project.endDate|date('d-m-Y à h:i') }}
                                </span>
                            </td>
                            <td class="text-center">
                                {{ include('call_of_project/_status_badge.html.twig', { 'call_of_project' : call_of_project}) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

