{% extends 'call_of_project/layout.html.twig' %}

{% block title %}
    {{ 'app.call_of_project.delete_form.h1'|trans }}
{% endblock %}

{% block h1_content %}
    {{ 'app.call_of_project.delete_form.h1'|trans }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="callout callout-danger text-danger text-bold">
                <p>
                    <u>ATTENTION cette action est irréversible et entraine la suppression de l'appel à projets et de l'ensemble de son contenu (configuration, projets, rapports, ...).</u>
                </p>
                <p>
                    Pour supprimer l'appel veuillez renseigner son titre "{{ call_of_project.name }}" dans le champ ci-dessous et confirmer.
                </p>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-danger" disabled>{{ 'app.action.delete_call_of_projects'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
