{% extends 'call_of_project/layout.html.twig' %}

{% block title %}
    {{ 'app.admin.mail_template.edit.h1'|trans }}
{% endblock %}

{% block h1_content %}
    {{ 'app.call_of_project.mail_template.h1'|trans }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="callout callout-info">
                <strong>Variables disponibles :</strong>
                <ul class="list-unstyled">
                    {% for legend, placeholder in constant('App\\Constant\\MailTemplate::PLACEHOLDERS') %}
                        <li>{{ placeholder }} => {{ legend|trans }} </li>
                    {% endfor %}
                </ul>
            </div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

