{% extends 'call_of_project/layout.html.twig' %}

{% block title %}
    {{ 'app.call_of_project.mail_template.h1'|trans }}
{% endblock %}

{% block h1_content %}
    {{ 'app.call_of_project.mail_template.h1'|trans }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="callout callout-info">
                <strong>Variables disponibles :</strong>
                <ul class="list-unstyled">
                    {% for legend, placeholder in constant('App\\Constant\\MailTemplate::PLACEHOLDERS') %}
                        <li>{{ placeholder }} => {{ legend|trans }} </li>
                    {% endfor %}
                </ul>
            </div>
            {{ form_start(form) }}
            {{ form_row(form.validationMailTemplate) }}

            {{ form_widget(form.isAutomaticSendingValidationMail) }}

            {{ form_row(form.refusalMailTemplate) }}

            {{ form_row(form.notificationToCreatorNewProjectMailTemplate) }}

            {{ form_row(form.notificationNewReportMailTemplate) }}

            {{ form_row(form.notificationNewReportsMailTemplate) }}

            {{ form_widget(form.isAutomaticSendingRefusalMail) }}
            <button class="btn btn-primary mr-3">{{ 'app.action.save'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

