{% extends 'call_of_project/layout.html.twig' %}

{% set body_class = 'call-of-project-form control-sidebar-push  control-sidebar-slide-open' %}

{% block title %}
    {{ 'app.call_of_project.form.h1'|trans }}
{% endblock %}

{% block modals %}
    {{ parent() }}
    {{ include('partial/modal/_widget_form.html.twig') }}
    {{ include('partial/modal/_alert_form.html.twig') }}
{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ 'app.call_of_project.form.h1'|trans }}</h1>
    {{ dynamic_form_html|raw }}
{% endblock %}

{% block control_sidebar %}
    <aside class="control-sidebar control-sidebar-light">
        <h2 class="p-3">{{ 'app.widget.form_widget.label'|trans }}</h2>
        <ul class="list-group">
            {% for widget in widget_manager.formWidgets %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ ('app.widget.' ~ widget.name)|trans }}
                    <button
                            type="button"
                            class="btn btn-primary float-right"
                            style="line-height:1.3; border-radius:25px"
                            data-toggle="modal"
                            data-target="#widget-form-modal"
                            data-url="{{ path('app.project_form_layout.add_widget', {
                                'widgetName' : widget.name,
                                'id' : call_of_project.projectFormLayouts.first.id
                            }) }}"
                    >
                        +
                    </button>
                </li>
            {% endfor %}
        </ul>

        <h2 class="p-3">{{ 'app.widget.html_widget.label'|trans }}</h2>
        <ul class="list-group">
            {% for widget in widget_manager.htmlWidgets %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ ('app.widget.' ~ widget.name)|trans }}
                    <button
                            type="button"
                            style="line-height:1.3; border-radius:25px"
                            class="btn btn-primary float-right"
                            data-toggle="modal"
                            data-target="#widget-form-modal"
                            data-url="{{ path('app.project_form_layout.add_widget', {
                                'widgetName' : widget.name,
                                'id' : call_of_project.projectFormLayouts.first.id
                            }) }}"
                    >
                        +
                    </button>
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock %}

