{% extends 'layout_sidebar.html.twig' %}

{% set h1 = 'app.entity.call_of_project.page.form.h1'|trans %}
{% block title %}
    {{ h1 }}
{% endblock %}

{% block modals %}
    {{ parent() }}
    {{ include('partial/modal/widget_form.html.twig') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    {{ call_of_project.projectFormLayouts.first }}
                </div>
            </div>
        </div>
        <div class="col-4">
            <ul class="list-group">
                {% for widget in widget_manager.widgets %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ ('app.widget.' ~ widget.name)|trans }}
                        <button
                                type="button"
                                class="btn btn-primary float-right"
                                data-toggle="modal"
                                data-target="#widget-form-modal"
                                data-widget-name="{{ widget.name }}"
                        >
                            +
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

