{% extends 'top_navbar_layout.html.twig' %}

{% block title %}
    {{ 'app.call_of_project.index.h1'|trans }}
{% endblock %}

{% block h1_content %}
    {{ 'app.call_of_project.index.h1'|trans }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if is_granted(constant('App\\Security\\UserVoter::ADMIN_ONE_ORGANIZING_CENTER_AT_LEAST')) %}
                <div class=" py-3">
                    <a href="{{ path('app.call_of_project.new') }}" class="btn btn-primary float-right">{{ 'app.dashboard.create_new_call_of_projects'|trans }}</a>

                    <div class="clearfix"></div>
                </div>
            {% endif %}
            <div class="table-responsive">
                <table
                        class="table m-0 table-hover dataTable"
                        data-translation-url="{{ asset('/build/dataTable.' ~ app.request.locale ~ '.json') }}"
                >
                    <thead>
                    <tr>
                        <th>{{ 'app.call_of_project.property.name.label'|trans }}</th>
                        <th class="text-center">{{ 'app.call_of_project.property.status.label'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for call_of_project in call_of_projects %}
                        <tr>
                            <td>
                                <a href="{{ path('app.call_of_project.informations', {'id' : call_of_project.id}) }}">
                                    {{ call_of_project.name }}
                                </a>
                            </td>
                            <td class="text-center">
                                {{ include('call_of_project/_status_badge.html.twig', { 'call_of_project' : call_of_project}) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

