{% extends 'layout_sidebar.html.twig' %}

{% set h1 = 'app.call_of_project.informations.h1'|trans %}
{% block title %}
    {{ h1 }}
{% endblock %}

{% block modals %}
    {{ parent() }}
    {{ include('partial/modal/_call_of_project_informations_form.html.twig') }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <button  class="btn btn-primary float-right"
                     data-toggle="modal"
                     data-target="#call-of-project-information-form-modal"
                     type="button"
            >
                {{ 'app.action.edit'|trans }}
            </button>
            <h2 class="d-inline-block mr-3">{{ call_of_project }}</h2>
            {{ include('call_of_project/_status_badge.html.twig', { 'call_of_project' : call_of_project}) }}

        </div>
        <div class="card-body py-5">
            <span class="text-bold">{{ 'app.call_of_project.organized_by'|trans }} {{ call_of_project.createdBy }}</span>
            <span class="text-bold float-right">
                {{ 'app.call_of_project.opened_date'|trans({
                    '%startDate%' : call_of_project.startDate|date('d-m-Y à h:i'),
                    '%endDate%' : call_of_project.endDate|date('d-m-Y à h:i')
                }) }}
            </span>
            <p class="mt-4">{{ call_of_project.description }}</p>
        </div>
    </div>
{% endblock %}

