{% extends 'sidebar_layout.html.twig' %}

{% block modals %}
    {{ parent() }}
    {% if is_granted(constant("App\\Security\\CallOfProjectVoter::FINISHED"), call_of_project) %}
        {{ include('partial/modal/_close_call_of_project.html.twig') }}
    {% endif %}
{% endblock %}

{% block after_header %}
    <div class="container-fluid text-right">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ 'app.action.actions'|trans }}</button>
            <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="{{ path('app.call_of_project.toggle_subscription', {'id' : call_of_project.id }) }}">
                    {% set followingClass = call_of_project.subscribers.contains(app.user) ? 'fas fa-eye-slash' : 'fas fa-eye' %}
                    {% set followingTitle = (call_of_project.subscribers.contains(app.user) ? 'app.action.toggle_subscription.off' : 'app.action.toggle_subscription.on') | trans %}
                    <i class="{{ followingClass }} mr-2"></i>
                    {{ followingTitle }}
                </a>
                <a class="dropdown-item" href="{{ path('app.file.get_zip_from_call_of_project', {'id' : call_of_project.id }) }}">
                    <i class="fas fa-download mr-2"></i>
                    {{ 'app.action.export'|trans }}
                </a>
                {% if is_granted(constant("App\\Security\\CallOfProjectVoter::FINISHED"), call_of_project) %}
                    <button class="dropdown-item text-danger" data-toggle="modal" data-target="#close-call-of-project-modal">
                        <i class="fas fa-power-off"></i>
                        {{ 'app.action.close_call_of_projects'|trans }}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

        {{ include('partial/_logo.html.twig') }}

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3">
                <div class="info d-block">
                    <div class="text-center text-white">{{ call_of_project }}</div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-child-indent nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_INFORMATIONS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.informations', {'id' : call_of_project.id}) }}"
                               class="nav-link {{ 'app.call_of_project.informations' == app.request.get('_route') ? 'active' }}"
                            >
                                <i class="fas fa-info-circle nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.admin.dashboard'|trans }}
                                </p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_PROJECTS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.projects', {'id' : call_of_project.id}) }}"
                               class="nav-link {{ 'app.call_of_project.projects' == app.request.get('_route')
                               or 'app.project' in app.request.get('_route')
                               ? 'active' }}"
                            >
                                <i class="fas fa-lightbulb nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.projects.label'|trans }}
                                </p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_PROJECTS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.reports', {'id' : call_of_project.id}) }}"
                               class="nav-link {{ 'app.call_of_project.reports' == app.request.get('_route')
                               or 'app.report' in app.request.get('_route')
                               ? 'active' }}"
                            >
                                <i class="fas fa-folder-open nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.reports.label'|trans }}
                                </p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_PERMISSIONS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.show_permissions', { 'id' : call_of_project.id }) }}"
                               class="nav-link {{ 'app.call_of_project.show_permissions' == app.request.get('_route')
                               or 'app.call_of_project.edit_permissions' == app.request.get('_route') ? 'active' }}"
                            >
                                <i class="fas fa-user-lock nav-icon"></i>
                                <p>{{ 'app.sidebar.item.admin.permissions'|trans }}</p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::ADMIN'), call_of_project) %}
                        {% set isConfigRoute = app.request.get('_route') in [
                            'app.call_of_project.form',
                            'app.call_of_project.form_preview',
                            'app.call_of_project.mail_template',
                            'app.call_of_project.mail_template.edit',
                            'app.call_of_project.delete_form'
                        ] %}
                        <li class="nav-item has-treeview {{ isConfigRoute? 'menu-open' }}">

                            <a href="#" class="nav-link {{ isConfigRoute ? 'active' }}">
                                <i class="fas fa-cogs nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.admin.project_form'|trans }}
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="{{ path('app.call_of_project.form', {'id' : call_of_project.id}) }}"
                                       class="nav-link {{ app.request.get('_route') == 'app.call_of_project.form' or
                                       app.request.get('_route') == 'app.call_of_project.form_preview'
                                       ? 'active'  }}">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ 'app.sidebar.item.admin.widget'|trans }}</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{{ path('app.call_of_project.mail_template', {'id' : call_of_project.id}) }}"
                                       class="nav-link {{ app.request.get('_route') == 'app.call_of_project.mail_template' or
                                       app.request.get('_route') == 'app.call_of_project.mail_template.edit' ? 'active' }}">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ 'app.sidebar.item.admin.mail_template'|trans }}</p>
                                    </a>
                                </li>

                                {% if is_granted(constant('App\\Security\\OrganizingCenterVoter::ADMIN'), call_of_project.organizingCenter) %}
                                    <li class="nav-item">
                                        <a href="{{ path('app.call_of_project.delete_form', {'id' : call_of_project.id}) }}"
                                           class="nav-link {{ app.request.get('_route') == 'app.call_of_project.delete_form' ? 'active' }}">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>{{ 'app.sidebar.item.admin.delete_form'|trans }}</p>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
{% endblock %}
