{% extends 'sidebar_layout.html.twig' %}

{% block after_header %}
    <div class="container-fluid">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle float-right" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
            </button><br><br>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                <i class="fas fa-eye ml-1"></i> <a class="mr-2 text-dark"
                                                   href="{{ path('app.call_of_project.toggle_subscription', {'id' : call_of_project.id }) }}">
                    {% set followingClass = call_of_project.subscribers.contains(app.user) ? 'text-info' : '' %}
                    {% set followingTitle = (call_of_project.subscribers.contains(app.user) ? 'app.action.toggle_subscription.off' : 'app.action.toggle_subscription.on') | trans %}
                    {{ followingTitle }}
                </a><br>
                <i class="fas fa-file-archive ml-1"></i><a class="text-dark"
                                                           href="{{ path('app.file.get_zip_from_call_of_project', {'id' : call_of_project.id }) }}">
                    {{ 'app.action.export'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

        {{ include('partial/_logo.html.twig') }}

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3">
                <div class="info d-block">
                    <div class="text-center text-white">{{ call_of_project }}</div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-child-indent nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_INFORMATIONS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.informations', {'id' : call_of_project.id}) }}"
                               class="nav-link {{ 'app.call_of_project.informations' == app.request.get('_route') ? 'active' }}"
                            >
                                <i class="fas fa-info-circle nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.admin.dashboard'|trans }}
                                </p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_PROJECTS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.projects', {'id' : call_of_project.id}) }}"
                               class="nav-link {{ 'app.call_of_project.projects' == app.request.get('_route')
                               or 'app.project' in app.request.get('_route')
                               ? 'active' }}"
                            >
                                <i class="fas fa-lightbulb nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.projects.label'|trans }}
                                </p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_PROJECTS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.reports', {'id' : call_of_project.id}) }}"
                               class="nav-link {{ 'app.call_of_project.reports' == app.request.get('_route')
                               or 'app.report' in app.request.get('_route')
                               ? 'active' }}"
                            >
                                <i class="fas fa-folder-open nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.reports.label'|trans }}
                                </p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_PERMISSIONS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.show_permissions', { 'id' : call_of_project.id }) }}"
                               class="nav-link {{ 'app.call_of_project.show_permissions' == app.request.get('_route')
                               or 'app.call_of_project.edit_permissions' == app.request.get('_route') ? 'active' }}"
                            >
                                <i class="fas fa-user-lock nav-icon"></i>
                                <p>{{ 'app.sidebar.item.admin.permissions'|trans }}</p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::ADMIN'), call_of_project) %}
                        {% set isConfigRoute = app.request.get('_route') in [
                            'app.call_of_project.form',
                            'app.call_of_project.mail_template',
                            'app.call_of_project.delete_form'
                        ] %}
                        <li class="nav-item has-treeview {{ isConfigRoute? 'menu-open' }}">

                            <a href="#" class="nav-link {{ isConfigRoute ? 'active' }}">
                                <i class="fas fa-cogs nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.admin.project_form'|trans }}
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="{{ path('app.call_of_project.form', {'id' : call_of_project.id}) }}"
                                       class="nav-link {{ app.request.get('_route') == 'app.call_of_project.form' ? 'active' }}">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ 'app.sidebar.item.admin.widget'|trans }}</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{{ path('app.call_of_project.mail_template', {'id' : call_of_project.id}) }}"
                                       class="nav-link {{ app.request.get('_route') == 'app.call_of_project.mail_template' ? 'active' }}">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ 'app.sidebar.item.admin.mail_template'|trans }}</p>
                                    </a>
                                </li>

                                {% if is_granted(constant('App\\Security\\OrganizingCenterVoter::ADMIN'), call_of_project.organizingCenter) %}
                                    <li class="nav-item">
                                        <a href="{{ path('app.call_of_project.delete_form', {'id' : call_of_project.id}) }}"
                                           class="nav-link {{ app.request.get('_route') == 'app.call_of_project.delete_form' ? 'active' }}">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>{{ 'app.sidebar.item.admin.delete_form'|trans }}</p>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
{% endblock %}
