{% extends 'sidebar_layout.html.twig' %}

{% block after_header %}
    <div class="container-fluid clearfix">
        <div class="btn-group dropleft float-right">

            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-cog"></i>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="{{ path('app.file.get_zip_from_call_of_project', {'id' : call_of_project.id }) }}">{{ 'app.action.export'|trans }}</a>
            </div>

        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">

        {{ include('partial/_logo.html.twig') }}

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3">
                <div class="info d-block">
                    <div class="text-center text-white">{{ call_of_project }}</div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-child-indent nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_INFORMATIONS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.informations', {'id' : call_of_project.id}) }}" class="nav-link">
                                <i class="fas fa-info-circle nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.admin.infos'|trans }}
                                </p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_PROJECTS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.projects', {'id' : call_of_project.id}) }}" class="nav-link">
                                <i class="fas fa-lightbulb nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.projects.label'|trans }}
                                </p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_PERMISSIONS'), call_of_project) %}
                        <li class="nav-item">
                            <a href="{{ path('app.call_of_project.show_permissions', { 'id' : call_of_project.id }) }}" class="nav-link">
                                <i class="fas fa-user-lock nav-icon"></i>
                                <p>{{ 'app.sidebar.item.admin.permissions'|trans }}</p>
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::ADMIN'), call_of_project) %}
                        <li class="nav-item has-treeview">

                            <a href="#" class="nav-link">
                                <i class="fas fa-cogs nav-icon"></i>
                                <p>
                                    {{ 'app.sidebar.item.admin.project_form'|trans }}
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="{{ path('app.call_of_project.form', {'id' : call_of_project.id}) }}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ 'app.sidebar.item.admin.widget'|trans }}</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{{ path('app.call_of_project.mail_template', {'id' : call_of_project.id}) }}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{ 'app.sidebar.item.admin.mail_template'|trans }}</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
{% endblock %}