{% extends 'call_of_project/layout.html.twig' %}

{% block title %}
    {{ 'app.call_of_project.mail_template.h1'|trans }}
{% endblock %}

{% block h1_content %}
    {{ 'app.call_of_project.mail_template.h1'|trans }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table dataTable"
                   data-translation-url="{{ asset('/build/dataTable.' ~ app.request.locale ~ '.json') }}"
            >
                <thead>
                <tr>
                    <th>{{ 'app.mail_template.property.name.label'|trans }}</th>
                    <th>{{ 'app.mail_template.property.subject.label'|trans }}</th>
                    <th>{{ 'app.mail_template.property.body.label'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for mail_template in call_of_project.callOfProjectMailTemplate %}
                    <tr>
                        <td>
                            <a href="{{ path('app.call_of_project.edit_mail_template', { 'id' : mail_template.id}) }}">
                                {{ (mail_template.name~'.name') |humanize_data|trans }}
                            </a>
                        </td>
                        <td>{{ mail_template.subject }}</td>
                        <td>{{ mail_template.body | raw }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

