{% extends 'call_of_project/layout.html.twig' %}

{% block h1_content %}
    {{ 'app.call_of_project.project_list.h1'|trans }}
{% endblock %}

{% block content %}
    <div class="card">
        {% if
            is_granted(constant('App\\Security\\CallOfProjectVoter::TO_STUDY_MASS'), call_of_project)
            and call_of_project.projects|filter(p => workflow_can(p, 'to_study')) is not empty
        %}
            <div class="card-header">
                <div class="float-right">
                    {{ form(project_to_study_form) }}
                </div>
            </div>
        {% endif %}
        <div class="card-body">
            <table
                    id="project-list-datatable"
                    class="table table table-hover dataTable"
                    data-translation-url="{{ asset('/build/dataTable.' ~ app.request.locale ~ '.json') }}"
            >
                <thead>
                <tr>
                    <th data-no-filter="true">
                        <input type="checkbox" id="toggle-projects" class="toggle-multiple-checkboxes">
                    </th>
                    <th>{{ 'app.project.property.number.label'|trans }}</th>
                    <th>{{ 'app.project.property.name.label'|trans }}</th>
                    <th>{{ 'app.project.property.created_by.label'|trans }}</th>
                    <th>{{ 'app.project.property.created_at.label'|trans }}</th>
                    <th>{{ 'app.project.property.status.label'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for project in call_of_project.projects %}
                    <tr>
                        <td class="text-center fit">{{ batch_action_render_input(project.id, batch_action_form.vars.attr.id, {'data-toggle-element': 'toggle-projects'}) }}</td>
                        <td>{{ project.callOfProject.code }}-{{project.number }}</td>
                        <td>
                            <a href="{{ path('app.project.show', { 'id' : project.id, 'context' : 'call_of_project' }) }}">
                                {{ project.name }}
                            </a>
                        </td>
                        <td>{{ project.createdBy }}</td>
                        <td>
                            {{ project.createdAt ? project.createdAt|format_datetime : project.createdAt|humanize_data }}
                        </td>
                        <td>{{ include('project/_status_badge.html.twig', { 'project' : project}) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'app.table.no_results_found'|trans }}</td>
                        <td class="d-none">{{ 'app.table.no_results_found'|trans }}</td>
                        <td class="d-none">{{ 'app.table.no_results_found'|trans }}</td>
                        <td class="d-none">{{ 'app.table.no_results_found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="mb-2" data-batch-datatable-target="#project-list-datatable">
                {{ form(batch_action_form) }}
            </div>
        </div>
    </div>
{% endblock %}
