{% extends 'call_of_project/layout.html.twig' %}

{% block h1_content %}
    {{ 'app.call_of_project.project_list.h1'|trans }}
{% endblock %}

{% block content %}
    {{ form(batch_action_form) }}
    <div class="card">
        {% if is_granted(constant('App\\Security\\CallOfProjectVoter::TO_STUDY_MASS'), call_of_project) %}
            <div class="card-header">
                <div class="float-right">
                    {{ form(project_to_study_form) }}
                </div>
            </div>
        {% endif %}
        <div class="card-body">
            <table
                    class="table table table-hover dataTable"
                    data-translation-url="{{ asset('/build/dataTable.' ~ app.request.locale ~ '.json') }}"
            >
                <thead>
                <tr>
                    <th>{{ 'app.project.property.name.label'|trans }}</th>
                    <th>{{ 'app.project.property.created_by.label'|trans }}</th>
                    <th>{{ 'app.project.property.created_at.label'|trans }}</th>
                    <th>{{ 'app.project.property.status.label'|trans }}</th>
                    <th>{{ 'app.batch_action.button.label'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for project in call_of_project.projects %}
                    <tr>
                        <td>
                            <a href="{{ path('app.project.show', { 'id' : project.id, 'context' : 'call_of_project' }) }}">
                                {{ project.name }}
                            </a>
                        </td>
                        <td>{{ project.createdBy }}</td>
                        <td>{{ project.createdAt|date('d/m/Y h:i') }}</td>
                        <td>{{ include('project/_status_badge.html.twig', { 'project' : project}) }}</td>
                        <td class="text-center">{{ batch_action_render_input(project.id, batch_action_form.vars.attr.id) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'app.table.no_results_found'|trans }}</td>
                        <td class="d-none">{{ 'app.table.no_results_found'|trans }}</td>
                        <td class="d-none">{{ 'app.table.no_results_found'|trans }}</td>
                        <td class="d-none">{{ 'app.table.no_results_found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}