{% extends 'call_of_project/layout.html.twig' %}

{% block h1_content %}
    {{ 'app.call_of_project.show_permissions.h1'|trans }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            {% for permission in constant('App\\Entity\\Acl::PERMISSION_BASES')  %}
                <dt>{{ ('app.acl.constant.' ~ permission)|trans }}</dt>
                <dl>{{ call_of_project.acls|filter(acl => acl.permission == permission)|map(acl => acl.user.username)|array_unique|join(', ')|humanize_data }}</dl>
            {% endfor %}

            <a href="{{ path('app.call_of_project.edit_permissions', { 'id' : call_of_project.id }) }}" class="btn btn-primary">
                {{ 'app.action.edit'|trans }}
            </a>
        </div>
    </div>
{% endblock %}