{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mr-3">{{ button_label|default('app.action.save'|trans) }}</button>

    {% set path = path('app.admin.group.index') %}
            {% if group.id != null %}
                {% set path = path('app.admin.group.show', {'id': group.id}) %}
            {% endif %}
    <a href="{{ path }}" class="text-muted">
        {{ 'app.action.canceled'|trans }}
    </a>
{{ form_end(form) }}
