{% extends 'sidebar_layout.html.twig' %}
{% block sidebar %}
    <aside class="main-sidebar sidebar-dark-danger elevation-4">

        {{ include('partial/_logo.html.twig') }}

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-4">
                <ul class="nav nav-pills nav-child-indent nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                    <li class="nav-item">
                        <a href="{{ path('app.admin.organizing_center.index') }}"
                           class="nav-link {{ 'app.admin.organizing_center' in app.request.get('_route') ? 'active' }}"
                        >
                            <i class="fas fa-university nav-icon"></i>
                            <p>
                                {{ 'app.sidebar.admin.organizing_center.label'|trans }}
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app.admin.project_form_layout.index') }}"
                           class="nav-link {{ 'app.admin.project_form_layout' in app.request.get('_route') ? 'active' }}"
                        >
                            <i class="fas fa-layer-group nav-icon"></i>
                            <p>
                                {{ 'app.sidebar.admin.project_form_layout.label'|trans }}
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app.admin.mail_template.index') }}"
                           class="nav-link {{ 'app.admin.mail_template' in app.request.get('_route') ? 'active' }}"
                        >
                            <i class="fas fa-envelope nav-icon"></i>
                            <p>
                                {{ 'app.sidebar.admin.mail_template.label'|trans }}
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app.admin.invitation.index') }}"
                           class="nav-link {{ 'app.admin.invitation' in app.request.get('_route') ? 'active' }}"
                        >
                            <i class="fas fa-envelope-open-text nav-icon"></i>
                            <p>
                                {{ 'app.sidebar.admin.invitation.label'|trans }}
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app.admin.user.index') }}"
                           class="nav-link {{ 'app.admin.user' in app.request.get('_route') ? 'active' }}"
                        >
                            <i class="fas fa-user nav-icon"></i>
                            <p>
                                {{ 'app.sidebar.admin.user.label'|trans }}
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app.admin.group.index') }}"
                           class="nav-link {{ 'app.admin.group' in app.request.get('_route') ? 'active' }}"
                        >
                            <i class="fas fa-users nav-icon"></i>
                            <p>
                                {{ 'app.sidebar.admin.group.label'|trans }}
                            </p>
                        </a>
                    </li>


                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
{% endblock %}