<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Google Font: Source Sans Pro -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

{#        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">#}
    </head>
    <body class="{{ body_class|default('') }}">

        {% block modals %}
            {% include 'partial/modal/_help.html.twig' %}
        {% endblock %}

        {% for label, messages in app.flashes %}

            {% if constant('App\\Constant\\CssMatching::BOOTSTRAP_TO_TOASTR')[label] is defined %}
                {% set label = constant('App\\Constant\\CssMatching::BOOTSTRAP_TO_TOASTR')[label] %}
            {% endif %}

            {% for message in messages %}
                <div
                        class="flash-message d-none"
                        data-label="{{ label }}"
                        data-message="{{ message }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>