{% extends 'base.html.twig' %}

{% set isSidebarLayout = isSidebarLayout ?? false %}
{% block body %}

    <div class="wrapper">

        {% block navbar %}
            {{ include('partial/_navbar.html.twig') }}
        {% endblock %}

        {% block sidebar %}
        {% endblock %}


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" >

            {% block content_header %}

                <div class="content-header">
                    <div class="{{ isSidebarLayout ? 'container-fluid' : 'container' }}">

                        {% block breadcrumb %}
                            {{ render_breadcrumb(constant('App\\Utils\\Breadcrumb\\BreadcrumbManager::BREADCRUMB_MAIN')) }}
                        {% endblock %}

                        {% block h1 %}
                            <h1 class="text-dark m-0 mb-2 pb-2 border-bottom">{% block h1_content %}{% endblock %}</h1>
                        {% endblock %}
                    </div><!-- /.container-fluid -->
                </div>
            {% endblock %}

            <div class="content">
                <div class="{{ isSidebarLayout ? 'container-fluid' : 'container' }}">
                    {% block content %}
                        <!-- /.container-fluid -->
                    {% endblock %}
                </div>
            </div>

        </div>
        <!-- /.content-wrapper -->

        {% block footer %}
            {{ include('partial/_footer.html.twig') }}
        {% endblock %}

        {% block control_sidebar %}
        {% endblock %}

        <div id="sidebar-overlay"></div>
    </div>


{% endblock %}
