{% extends 'base.html.twig' %}

{% set page_class = 'page-' ~ page_class|default('default') %}
{% set layout_class = layout_class|default(layout_default_class) %}
{% set body_class = layout_class ~ ' ' ~ page_class %}

{% set container = container|default(container_default) %}

{% block body %}

    <div class="wrapper">

        {{ include('partial/_navbar.html.twig') }}

        {% if layout_class == layout_sidebar_class %}
            {{ include('partial/_sidebar.html.twig') }}
        {% endif %}


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" >
            <!-- Content Header (Page header) -->
            <div class="content-header">
                {% block h1 %}
                    <div class="{{ container }}">
                    {% block preH1 %}{% endblock %}
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <h1 class="m-0 text-dark">{{ h1|default('Il faut mettre un h1')}}</h1>
                            </div>
{#                            <!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Starter Page</li>
                                </ol>
                            </div>#}
                            <!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                {% endblock %}
            </div>
            <!-- /.content-header -->

            <div class="content">
                <div class="{{ container }}">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->

        {{ include('partial/_footer.html.twig') }}

        {% block control_sidebar %}
        {% endblock %}


        <div id="sidebar-overlay"></div>
    </div>


{% endblock %}
