{% extends 'admin_layout.html.twig' %}

{% block title %}
    {{ 'app.admin.organizing_center.show.h1'|trans }} {{ organizing_center.name }}
{% endblock %}

{% block h1_content %}
    {{ 'app.admin.organizing_center.show.h1'|trans }} {{ organizing_center.name }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <a href="{{ path('app.admin.organizing_center.edit', {'id': organizing_center.id}) }}" class="btn btn-primary float-right">{{ 'app.action.edit'|trans }}</a>
            <dl >
                <dt>{{ 'app.organizing_center.property.name.label'|trans }}</dt>
                <dd>{{ organizing_center.name|humanize_data }}</dd>
            </dl>
            <dl>
                {% for permission in constant('App\\Entity\\Acl::PERMISSION_BASES')  %}
                    <dt>{{ ('app.acl.constant.' ~ permission)|trans }}</dt>
                    <dd>{{ organizing_center.acls.toArray|filter(acl => acl.permission == permission)|array_unique|join(', ')|humanize_data }}</dd>
                {% endfor %}
            </dl>
        </div>
    </div>

{% endblock %}
