<dl>
    <dt>{{ 'app.project.property.name.label'|trans }}</dt>
    <dd>{{ project.name }}</dd>
    <dt>{{ 'app.project.property.status.label'|trans }}</dt>
    <dd>{{ ('app.project.constant.' ~ project.status)|trans }}</dd>
    {% for projectContent in project.projectContents %}
        <dt>{{ projectContent.projectFormWidget.widget.label }}</dt>
        <dl>
            {% if projectContent.projectFormWidget.widget.isFileWidget and projectContent.content %}
                <a href="{{ path('app.file.download', {'id' : projectContent.id}) }}">
                    {{ projectContent.stringContent|trans }}
                </a>
            {% else %}
                {{ projectContent.stringContent|trans|raw }}
            {% endif %}
        </dl>
    {% endfor %}
</dl>
