{% extends layout|default('top_navbar_layout.html.twig') %}

{% block title %}
    {{ 'app.project.edit.h1'|trans }}
{% endblock %}

{% block h1_content %}
    {{ 'app.project.edit.h1'|trans }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            {% set parameters = { 'id' : project.id, } %}

            {% if context == 'call_of_project' %}
                {% set parameters = parameters|merge({ 'context' : context }) %}
            {% endif %}

            <h2>{{ 'app.call_of_project_label'|trans }} "{{ project.callOfProject.name }}"</h2>
            {{ dynamic_form_html|raw }}
        </div>
    </div>
{% endblock %}

