{% extends layout|default('top_navbar_layout.html.twig') %}

{% block title %}
    {{ 'app.project.show.h1'|trans }} {{ project.name }}
{% endblock %}

{% block h1_content %}
    {{ 'app.project.show.h1'|trans }} {{ project.name }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="text-right">

                {% set parameters = { 'id' : project.id, } %}

                {% if context == 'call_of_project' %}
                    {% set parameters = parameters|merge({ 'context' : context }) %}
                {% endif %}

                {% if is_granted(constant('App\\Security\\ProjectVoter::EDIT'), project) %}
                    <a href="{{ path('app.project.edit', parameters) }}" class="btn btn-primary">
                        {{ 'app.action.edit'|trans }}
                    </a>
                {% endif %}

            </div>
            <dl>
                <dt>{{ 'app.project.property.name.label'|trans }}</dt>
                <dl>{{ project.name }}</dl>
                {% for projectContent in project.projectContents %}
                    <dt>{{ projectContent.projectFormWidget.widget.label }}</dt>
                    <dl>
                        {% if projectContent.projectFormWidget.widget.isFileWidget and projectContent.content %}
                            <a href="{{ path('app.file.download', {'id' : projectContent.id}) }}">
                                {{ projectContent.stringContent|trans }}
                            </a>
                        {% else %}
                            {{ projectContent.stringContent|trans }}
                        {% endif %}
                    </dl>
                {% endfor %}
            </dl>
        </div>
    </div>
{% endblock %}

