{% extends layout|default('top_navbar_layout.html.twig') %}

{% block title %}
    {{ 'app.project.show.h1'|trans }} {{ project.name }}
{% endblock %}

{% block h1_content %}
    {{ 'app.project.show.h1'|trans }} {{ project.name }}
{% endblock %}

{%  block modals %}
    {{ parent() }}
    {{ include('partial/modal/_alert_form.html.twig') }}
    {% if is_granted(constant('App\\Security\\CallOfProjectVoter::EDIT'), project.callOfProject) %}
        {{ include('partial/modal/_add_reporters_form.html.twig') }}
        {{ include('partial/modal/_validation_project.html.twig', {'form' : validation_form, title : 'app.project.validation_project.modal_title'|trans}) }}
        {{ include('partial/modal/_validation_project.html.twig', {'form' : refusal_form, title : 'app.project.refusal_project.modal_title'|trans}) }}
    {% endif %}
{%  endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <div class="text-right mt-2">

                        {% set parameters = { 'id' : project.id, } %}

                        {% if context == 'call_of_project' %}
                            {% set parameters = parameters|merge({ 'context' : context }) %}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\ProjectVoter::EDIT'), project) %}
                            <a href="{{ path('app.project.edit', parameters) }}" class="btn btn-primary">
                                {{ 'app.action.edit'|trans }}
                            </a>
                        {% endif %}

                    </div>
                    <dl>
                        <dt>{{ 'app.project.property.name.label'|trans }}</dt>
                        <dl>{{ project.name }}</dl>
                        {% for projectContent in project.projectContents %}
                            <dt>{{ projectContent.projectFormWidget.widget.label }}</dt>
                            <dl>
                                {% if projectContent.projectFormWidget.widget.isFileWidget and projectContent.content %}
                                    <a href="{{ path('app.file.download', {'id' : projectContent.id}) }}">
                                        {{ projectContent.stringContent|trans }}
                                    </a>
                                {% else %}
                                    {{ projectContent.stringContent|trans }}
                                {% endif %}
                            </dl>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>

        {% if
            is_granted(constant('App\\Security\\CallOfProjectVoter::SHOW_INFORMATIONS'), project.callOfProject)
            and project.status != constant('App\\Entity\\Project::STATUS_WAITING')
        %}
            <div class="col">
                {% if is_granted(constant('App\\Security\\CallOfProjectVoter::EDIT'), project.callOfProject) and project.status == constant('App\\Entity\\Project::STATUS_STUDYING') %}
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ 'app.project.validation_refusal.card_header_title'|trans }}</h4>
                        </div>
                        <div class="card-body d-flex justify-content-around">
                            <button class="btn btn-primary btn-lg mr-3"
                                    data-toggle="modal"
                                    data-target="#validation-project-form-modal-{{ validation_form.action.vars.data }}"
                                    type="button"
                            >{{ 'app.project.validation.validation.label'|trans }}</button>
                            <button class="btn btn-danger btn-lg"
                                    data-toggle="modal"
                                    data-target="#validation-project-form-modal-{{ refusal_form.action.vars.data }}"
                                    type="button"
                            >{{ 'app.project.validation.refusal.label'|trans }}</button>
                        </div>
                    </div>
                {% endif %}

                <div class="card mb-0">
                        <div class="card-header">
                            <h4>{{ 'app.project.reports.card_header_title'|trans }}</h4>
                        </div>
                        <div class="card-body">

                            {% if is_granted(constant('App\\Security\\CallOfProjectVoter::EDIT'), project.callOfProject) and project.status == constant('App\\Entity\\Project::STATUS_STUDYING') %}
                                <div class="mb-4 pb-2 clearfix border-bottom">
                                    <button class="btn btn-primary float-right"
                                            data-toggle="modal"
                                            data-target="#add-reporters-form-modal"
                                            type="button"
                                    >
                                        {{ 'app.project.action.add_reporters'|trans }}
                                    </button>
                                </div>
                            {% endif %}

                            <table
                                    class="table dataTable"
                                    data-translation-url="{{ asset('/build/dataTable.' ~ app.request.locale ~ '.json') }}"
                            >
                                <thead>
                                <th>{{ 'app.report.property.reporter.label'|trans }}</th>
                                <th>{{ 'app.report.property.status.label'|trans }}</th>
                                <th data-no-filter="true"></th>
                                </thead>
                                <tbody>
                                {% for report in project.reports %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('app.report.show', {'id' : report.id, 'context' : 'call_of_project'}) }}">{{ report.reporter }}</a>
                                        </td>
                                        <td>{{ include('report/_status_badge.html.twig') }}</td>
                                        <td class="text-center fit">
                                            {{ include('report/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

            </div>
        {% endif %}
    </div>
{% endblock %}

