{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.call_of_projects_add_permission' %}

{% block help_content %}
    <div class="alert alert-danger">
        Attention, il s'agit ici de donner un accès à la partie gestion de l'appel à projets en tant que {{ 'app.acl.constant.admin'|trans }}, {{ 'app.acl.constant.manager'|trans }} ou {{ 'app.acl.constant.viewer'|trans }}. Le dépôt de projets par des utilisateurs dans votre appel à projets ne nécessite aucune permission, il suffit que votre appel soit à l'état {{ 'app.call_of_project.constant.opened'|trans }}.
    </div>
    <div class="alert alert-warning">
        Les conditions suivantes sont nécessaires:
        <ul>
            <li>
                Vous devez posséder les permissions nécessaires ({{ 'app.acl.constant.admin'|trans }}) au niveau de l'appel à projets ou du centre organisateur de l'appel
            </li>
            <li>
                L'utilisateur pour lequel vous souhaitez ajouter une permission doit déjà s'être connecté au moins une fois à la plateforme
            </li>
        </ul>
    </div>
    <ol>
        <li>
            Rendez-vous sur la page de <a target="_blank" href="{{ path('app.help.show', {'locale': app.request.locale, 'template': 'call_of_projects_permissions_list'}) }}"><u>consultation des permissions d'accès d'un appel à projets</u></a>
        </li>
        <li>
            Dans la partie {{ 'app.call_of_project.own_acls'|trans }}, cliquez sur le bouton <u>{{ 'app.action.edit'|trans }}</u>
        </li>
        <li>
            Recherchez un utilisateur dans la liste de la permission souhaitée (({{ 'app.acl.constant.admin'|trans }}, {{ 'app.acl.constant.manager'|trans }} ou {{ 'app.acl.constant.viewer'|trans }}))
        </li>
        <li>
            Ajoutez autant de permissions que vous le souhaitez
        </li>
        <li>
            Une fois terminé, cliquez sur le bouton <u>{{ 'app.action.save'|trans }}</u>
        </li>
    </ol>
{% endblock %}