{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.call_of_projects_project_reporters_list' %}

{% block help_content %}
    <div class="alert alert-warning">
        Les conditions suivantes sont nécessaires:
        <ul>
            <li>
                Vous devez posséder les permissions nécessaires ({{ 'app.acl.constant.admin'|trans }}, {{ 'app.acl.constant.manager'|trans }} ou {{ 'app.acl.constant.viewer'|trans }}) au niveau de l'appel à projets ou du centre organisateur
            </li>
            <li>
                L'étude des projets doit avoir été démarrée
            </li>
        </ul>
    </div>

    <ol>
        <li>
            Rendez-vous sur la page de <a target="_blank" href="{{ path('app.help.show', {'locale': app.request.locale, 'template': 'call_of_projects_project_info_view'}) }}"><u>consultation des informations d'un projet</u></a> de votre appel à projets
        </li>
        <li>
            La liste des rapports est visible dans la partie <u>{{ 'app.project.report.label'|trans }}</u>
        </li>
    </ol>
{% endblock %}