{% extends 'help/help_layout.html.twig' %}

{% set title = 'app.help.labels.call_of_projects_project_validation' %}

{% block help_content %}
    <div class="alert alert-warning">
        Les conditions suivantes sont nécessaires:
        <ul>
            <li>
                Vous devez posséder les permissions nécessaires ({{ 'app.acl.constant.admin'|trans }} ou  {{ 'app.acl.constant.manager'|trans }}) au niveau de l'appel à projet ou du centre organisateur de l'appel
            </li>
        </ul>
    </div>
    <ol>
        <li>
            Rendez-vous sur la page de <a target="_blank" href="{{ path('app.help.show', {'locale': app.request.locale, 'template': 'call_of_projects_project_info_view'}) }}"><u>consultation des informations d'un projet de l'appel</u></a>
        </li>
        <li>
            Dans la partie <u>{{ 'app.project.validation_refusal.card_header_title'|trans }}</u> qui se trouve en haut à droite, cliquez sur le bouton de votre choix pour retenir ou ne pas retenir le projet
        </li>
        <li>
            Dans la fenêtre qui s'ouvre, choisissez d'envoyer ou pas le mail automatique à l'utilisateur qui avait déposé le projet afin de le notifier du choix qui a été fait (nb: si vous décidez d'envoyer le mail, vous aurez la possibilité de le personnaliser avant son envoi)
        </li>
        <li>
            Cliquez sur le bouton <u>{{ 'app.action.save'|trans }}</u>
        </li>
    </ol>
{% endblock %}