{% extends 'admin_layout.html.twig' %}

{% block title %}
    {{ 'app.admin.user.edit.h1'|trans }} {{ user.username }}
{% endblock %}

{% block h1_content %}
    {{ 'app.admin.user.edit.h1'|trans }} {{ user.username }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">

            {{ include('user/_form.html.twig', {'button_label': 'app.action.edit'|trans}) }}
        </div>
    </div>

{% endblock %}
