{% extends 'admin_layout.html.twig' %}

{% block title %}
    {{ 'app.admin.user.show.h1'|trans }} {{ user.username }}
{% endblock %}

{% block h1_content %}
    {{ 'app.admin.user.show.h1'|trans }} {{ user.username }}
{% endblock %}

{% block content %}

    <dl>
        <dt>{{ 'app.user.property.username.label'|trans }}</dt>
        <dd>{{ user.username|humanize_data }}</dd>

        <dt>{{ 'app.user.property.email.label'|trans }}</dt>
        <dd>{{ user.email|humanize_data }}</dd>

        <dt>{{ 'app.user.property.firstname.label'|trans }}</dt>
        <dd>{{ user.firstname|humanize_data }}</dd>

        <dt>{{ 'app.user.property.lastname.label'|trans }}</dt>
        <dd>{{ user.lastname|humanize_data }}</dd>
    </dl>

    <a href="{{ path('app.admin.user.index') }}" class="btn btn-secondary">{{ 'app.action.back_to_list'|trans }}</a>

    <a href="{{ path('app.admin.user.edit', {'id': user.id}) }}" class="btn btn-primary">{{ 'app.action.edit'|trans }}</a>

{% endblock %}
