{% extends layout|default('top_navbar_layout.html.twig') %}
{% block title %}
    {{ 'app.report.show.h1'|trans }} {{ report.name }}
{% endblock %}

{% block h1_content %}
    {{ 'app.report.show.h1'|trans }} {{ report.name }}
{% endblock %}

{% block modals %}
    {{ parent() }}
    {{ include('partial/modal/_deadline_form.html.twig', {'form': deadline_form}) }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% set parameters = { 'id' : report.id, } %}

            {% if context == 'call_of_project' %}
                {% set parameters = parameters|merge({ 'context' : context }) %}
            {% endif %}
            <a href="{{ path('app.report.edit', parameters) }}" class="btn btn-primary text-white float-right">{{ 'app.report.inform_report'|trans }}</a>

            {% if is_granted(constant('App\\Security\\CallOfProjectVoter::EDIT'), report.project.callOfProject) %}
                <button class="btn btn-primary float-right mr-3"
                        data-toggle="modal"
                        data-target="#deadline-form-modal"
                        type="button"
                >{{ 'app.report.action.change_deadline'|trans }}</button>
            {% endif %}
            <dl>
                <dt>{{ 'app.report.property.dead_line.label'|trans }}</dt>
                <dd>
                    {{ report.deadline ? report.deadline|format_datetime : report.deadline|humanize_data }}
                </dd>

                <dt>{{ 'app.report.property.file.label'|trans }}</dt>
                <dd>
                    {% if report.report.name %}
                        <a href="{{ path('app.file.download_report_file', {'id' : report.id}) }}">{{ report.report.originalName }}</a>
                    {% else %}
                        {{ vich_uploader_asset(report, 'reportFile')|humanize_data }}
                    {% endif %}
                </dd>

                <dt>{{ 'app.report.property.comment.label'|trans }}</dt>
                <dd>{{ report.comment|humanize_data }}</dd>
            </dl>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{ include('project/_project_infos.html.twig', {'project' : report.project }) }}
        </div>
    </div>
{% endblock %}